@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
body{
  padding: 0%;
  margin:0%;
  font-family: "Montserrat";
  /*font-family: 'Lato';*/
}

.nav-link{
  font-size:20px;
  margin-right: 20px;

}
.nav-link:hover{
  color:#89CFF0 !important ;
}
.dropdown-menu .dropdown-item:hover{
  color: #89CFF0 !important;
}
 .dropdown-menu .active1{
  color: #89CFF0 !important;
}
.active .nav-link{
  color:#89CFF0 !important;
}
.emp{
  color:gray;
  font-size: 40px;
  right: 0;
}
.emp:hover{
  color:#89CFF0 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
.header{
  position: relative;
  width: 100%;
}
.header-inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}
.logo{
  color: #ffffff;
}
.nav-item .nav-link{
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.15s;
}
.nav-item .nav-link:hover{
  color: #FE4066;
}
.header-btn{
  color:#ffffff;
  border-radius: 30px;
  background-color: gray;
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  padding: 7px 22px;
  transition: 0.5s;
}
.header-btn:hover{
  background-color: #FE4066;
  cursor: pointer;
}
.navbar-scroll{
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index:99;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  transition-duration: 0.6s;
}
.navbar-scroll .nav-item .nav-link{
  color: black;
}
.navbar-scroll .header-btn{
  color: #ffffff;
  background-color: #fe4066;
}
.navbar-scroll .logo{
  color: #000;
  font-weight: 500;
}
@media only screen and (min-width:1200){
  .nav-item > .nav-link{
    padding: 5px 20px !important;
    display: block !important;
  }
}
@media only screen and (max-width:992px){
  .header-inner{
    background-color: white !important;
    }
    .nav-item > .nav-link{
      color: black !important;
    }
    .logo{
      color: #000 !important;
      font-weight: 600!important;
    }

}
.content-banner{
  color: #ffffff;
  background-image: url("img/clients.jpg");
  min-height: 400px;
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  padding-top: 125px;
}
.content-banner:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(57,49,49,0.7);
  top: 0;
  left: 0;
  z-index: 1;
}
.content-banner .first-title{
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin: 30px 0px 12px;
  padding-top: 40px;
}
.content-banner .subtitle{
  color: #ffffff;
  z-index: 1;
    position: relative;
}
.content-banner .subtitle:hover{
  text-decoration: none;
  color: green;
}
.content-banner .subtitle1{
  color: white;
  z-index: 1;
    position: relative;
}
.content-banner .subtitle1:hover{
  text-decoration: none;
  color: green;

}
.content-banner .banner-desc{
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
  margin-top: 0;
}
.banner-btn{
  padding: 0 34px;
  z-index: 1;
  margin: 30px auto 25px;
  line-height: 56px;
  position: relative;
  border-radius: 6px;
  height: 56px;
  font-size: 16px;
  background-color: #fe4066;
  display: inline-block;
  color: #ffffff;
  transition: 0.3s;
  text-align: center;
}
.banner-btn:hover{
  text-decoration: none;
  color:  #fe4066;
  background-color: white
}
.content-banner .subtitle{
  color: #ffffff;
  z-index: 1;
    position: relative;
}
.content-banner .subtitle:hover{
  text-decoration: none;
  color: green;
}
.content-banner .subtitle1{
  color: white;
  z-index: 1;
    position: relative;
}
.content-banner .subtitle1:hover{
  text-decoration: none;
  color: green;

}
/*section*/
.s2-para{
  padding-top: 50px;
  margin-bottom: 6%;
}
/*section3*/
.section-header h3 {
     font-size: 36px;
     color: #283d50;
     text-align: center;
     font-weight: 500;
     position: relative;
 }
 .section-header p {
     text-align: center;
     margin: auto;
     font-size: 15px;
     padding-bottom: 60px;
     color: #556877;
     width: 50%;
 }
#clients {
     padding: 60px 0
 }
#clients .clients-wrap {
     margin-bottom: 30px
 }
#clients .client-logo {
     padding: 64px;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
     overflow: hidden;
     background: #fff;
     height: 160px
 }
#clients img {
     transition: all 0.4s ease-in-out
 }
 @media screen and (max-width:770px){
   #clients {
        padding: 120px 0
    }
   #clients .clients-wrap {
        border-top: 1px solid #d6eaff;
        border-left: 1px solid #d6eaff;
        margin-bottom: 90px
    }
    #clients .client-logo {
         padding: 124px;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-pack: center;
         -webkit-justify-content: center;
         -ms-flex-pack: center;
         justify-content: center;
         -webkit-box-align: center;
         -webkit-align-items: center;
         -ms-flex-align: center;
         align-items: center;
         border-right: 1px solid #d6eaff;
         border-bottom: 1px solid #d6eaff;
         overflow: hidden;
         background: #fff;
         height: 160px
     }
 }


/*footer*/
footer{
  bottom: 0px;
  width: 100%;
  background: #111;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main-content{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-content .box{
  flex-basis: 50%;
  padding: 40px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  /*text-transform: uppercase;*/
}
.left{
  margin-left: 20px;
}
.left p{
  font-size: 15px;
}
.box .content1{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content1:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
 background: #1a1a1a;
}
.box .content1:after{
  position: absolute;
  content: '';
  height: 2px;
/*  width: 15%;*/
  background: #f12020;
  top: -10px;
}
.left .content1 p{
  text-align: justify;
}
.left .content1 .social{
  margin: 20px 0 0 0;

}
.left .content1 .social a{
  padding: 0 2px;
    color: white;
}
.left .content1 .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content1 .social a span:hover{
  background: #89CFF0;
    color: gray;
}
.center{
  margin-left: 80px;
}
.center .content1 .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content1 .fas:hover{
  background: #89CFF0;
  color: gray;
}
.center .content1 .text1{
  font-size:15px;/* 1.0625rem;*/
  font-weight: 500;
  padding-left: 10px;
}
.center .content1 .phone{
  margin: 15px 0;
}
.right h2{
    margin-left: 40px;
}
.right .content1{
  margin-left: 45px;
}
.right .content1 .link{
  text-decoration: none;
    color: white;
}
.right .content1 .link:hover{
  text-decoration: none;
  color: #89CFF0;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
