@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900&display=swap');
body{
  padding: 0%;
  margin:0%;
  /*font-family: "Montserrat";*/
  font-family: 'Lato';
  overflow-x: hidden !important;
}
.nav-link{
  font-size:20px;
  margin-right: 20px;
}
.nav-link:hover{
  color:#89CFF0 !important ;
}
.dropdown-menu .dropdown-item:hover{
  color: #89CFF0 !important;
}
 .dropdown-menu .active1{
  color: #89CFF0 !important;
}
.active .nav-link{
  color:#89CFF0 !important;
}
.emp{
  color:gray;
  font-size: 40px;
  right: 0;
}
.emp:hover{
  color:#89CFF0 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
@media only screen and (min-width:1200){
  .nav-item > .nav-link{
    padding: 5px 20px !important;
    display: block !important;
  }
}
@media only screen and (max-width:992px){
  .header-inner{
    background-color: white !important;
    }
    .nav-item > .nav-link{
      color: black !important;
    }
    .logo{
      color: #000 !important;
      font-weight: 600!important;
    }

}

.header{
  position: relative;
  width: 100%;
}
.header-inner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}
.logo{
  color: #ffffff;
}
.nav-item .nav-link{
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.15s;
}
.nav-item .nav-link:hover{
  color: #FE4066;
}
.navbar-scroll{
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index:99;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  transition-duration: 0.6s;
}
.navbar-scroll .nav-item .nav-link{
  color: black;
}
.navbar-scroll .header-btn{
  color: #ffffff;
  background-color: #fe4066;
}
.navbar-scroll .logo{
  color: #000;
  font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

/*section1*/


.carousel-item{
  color: #ffffff;
  /*background-image: url("sebastian-herrmann-O2o1hzDA7iE-unsplash (1).jpg");*/
  /*min-height: 300px;
  height: 600px;*/
 position: relative;
  background-position: center center;
  background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.carousel-item:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(57,49,49,0.7);
  top: 0;
  left: 0;
  z-index: 1;
}
.carousel-caption {
	bottom: 190px;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
padding-bottom: 20px;
}
.carousel-caption p {
	width: 100%;
	margin: auto;
	font-size: 18px;
	line-height: 1.9;
  margin-bottom: 90px;
}

/*@media only screen and (max-width: 767px) {

	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		padding-bottom: 40px;
	}
	.carousel-caption h2 {
		font-size: 12px;
	}
	.carousel-caption p {
		font-size: 13px;
	}
}*/


/*section2*/
.testimonials{
  margin: 50px auto;
}
.testimonials h1{
  text-align: center;
  /*font-weight: bold;*/
  color: #ff9800;
  padding-bottom: 7px;
  text-transform: uppercase;
}
.testimonials h1::after{
  content: '';
  background: #ff9800;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}
.testimonials .row{
  margin-top: 30px;
}
.col-md-4{
  margin: 40px auto;
  font-family: 'Lato';

}
.col-md-4:hover{
  color:white;
}
.profile:hover{
  color: white;
}
.profile{
  padding: 70px 10px 10px;
  background-color: #efefef;
}
.profile .img{
  top:-60px;
  right: 140px;
  position: absolute;
  left:Calc(50% -60%);
  border:3px solid white;
  background-color: white;
  color:orange;
  font-size: 360%;
  padding-top: 20px;
}
/*.fas{
  color:orange;
  font-size: 360%;
  padding-top: 20px;
}*/
.user{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*.profile h3{
  font-size: 30px;
  margin-top: 15px;
  color: black;
}*/
p{
  font-size: 16px;
  line-height: 30px;
}
.profile h3{
  font-family: 'Lato';
}
.profile:hover{
/*  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);*/
  cursor: pointer;
  background-color: orange;
}
.color:hover{
  cursor: pointer;
  background-color: skyblue;
}
.profile .icon2{
  color:skyblue;
}

/*section3*/
.proud{
  background-image: url('/img/jeshoots-com-pUAM5hPaCRI-unsplash.jpg');
   background-attachment: fixed;
   background-size: cover;
   background-position: center center;
   font-family: 'Lato';
   height: 320px;
 }
.text{
  margin-right: 45%;
  color: black;
  font-size: 30px;
  margin-top: 40px;
  padding-bottom: 20px;
}

/*section4*/
#services{
  margin-top: 7%;
  font-family: 'Lato';
}
#services h3{
  color:#211b6b;
  padding-bottom: 22px;
}
#services p{
  text-align: left;
}
#services h4{
  color:#cd6b35;
  text-align: center;
}

/*section5*/
#section5
{
  height:70vh;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*background:#F5F5F5;*/
    background-image: url('/img/pexels-peng-liu-169647.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.sec5
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /*  background: #4682B4;*/
   color:#fff;
    padding: 30px 0;
}
.matter
{
  padding: 10px;
}
.icon
{
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  margin: 0 auto;
}
.fa-users
{
  color: #ff0000;
}
.fa-user-circle
{
  color:#c13584;
}
.fa-envelope-o
{
  color:#4267b2;
}
.counter
{
  font-size: 45px;
  margin: 10px 0;
}
h3
{
  font-size: 18px;
  text-transform: uppercase;
}

/*section6*/
.section-6{
  background-image: url('/img/pexels-rodolfo-clix-1036936.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.section-6 .heading-1{
  margin-top: 20%;
  margin-left: 5%;
  margin-bottom: 4%;
  
  width: 100%;
  color: whitesmoke;
  text-align: center;
}
.section-6 .para1{
  width: 100%;
  font-family: 'Ubuntu';
  color: whitesmoke;
  margin-bottom: 7%;
  text-align: center;
}
.section-6 .btn{
  margin-bottom: 15%;
  width:20%;
  margin-left: 40%;
  padding: 2% 5%;
  background-color: skyblue;
}


/*footer*/
footer{
  bottom: 0px;
  width: 100%;
  background: #111;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main-content{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-content .box{
  flex-basis: 50%;
  padding: 40px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  /*text-transform: uppercase;*/
}
.left{
  margin-left: 20px;
}
.left p{
  font-size: 15px;
  word-spacing: 1px;;
}
.box .content1{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content1:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
 background: #1a1a1a;
}
.box .content1:after{
  position: absolute;
  content: '';
  height: 2px;
/*  width: 15%;*/
  background: #f12020;
  top: -10px;
}

.left .content1 .social{
  margin: 20px 0 0 0;

}
.left .content1 .social a{
  padding: 0 2px;
    color: white;
}
.left .content1 .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content1 .social a span:hover{
  background: #89CFF0;
    color: gray;
}
.center{
  margin-left: 80px;
}
.center .content1 .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content1 .fas:hover{
  background: #89CFF0;
  color: gray;
}
.center .content1 .text1{
  font-size:15px;/* 1.0625rem;*/
  font-weight: 500;
  padding-left: 10px;
}
.center .content1 .phone{
  margin: 15px 0;
}
.right h2{
    margin-left: 40px;
}
.right .content1{
  margin-left: 45px;
}
.right .content1 .link{
  text-decoration: none;
    color: white;
}
.right .content1 .link:hover{
  text-decoration: none;
  color: #89CFF0;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}


/*media quires*/

/*@media only screen and (min-width: 900px) {
  .section-6 .container-fluid{
    background-image: url('../asserts/images/pexels-rodolfo-clix-1036936.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
  .section-6 .heading-1{

  }
  .section-6 .para{
    font-size: 25px;
  }
  .section-6 .btn{
    margin-bottom: 15%;
    width:20%;
    margin-left: 40%;
    padding: 2% 2%;
  }
  .carousel-caption h5{
    font-size: 20px;
  }
  .text{
    font-size: 20px;
    text-align: center;
  }
	.text-dark{
	  font-size: 17px;

	}
  .profile h3{
    font-size: 30px;
    margin-top: 15px;
    color: black;
  }
}
@media (min-width: 768px) and (max-width: 991.98px)  {
  .profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: black;
  }
  .text{
      margin-top: 0px !important;
  }
}
@media only screen and (max-device-width: 480px) {
  .section-6 .container-fluid{
    background-image: url('../asserts/images/pexels-rodolfo-clix-1036936.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
  .carousel-item{
  min-height: 400px;
}
.img-carousel{
  min-height: 400px;
}
  .carousel-caption h5{
    font-size: 22px;
  }
  .carousel-caption p{
   padding-bottom: 20px;
  }
  .text{
    font-size: 20px;
  }
	.text-dark{
	  font-size: 11px;
	}
}*/

/*desktops and laptops*/
@media(min-width: 1024px){

  .carousel-item{
    min-height: 100px;
    height: auto;
  }
  .carousel-item img{
    height: 40rem;
  }
  .carousel-caption {
  	bottom: 7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.7px;
  }
  .testimonials{
    margin: 4rem auto;
  }
  .testimonials h1{
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    }

   .para{
     font-size: 1.1rem;
     line-height: 1.7rem;
     padding: 0 0.4rem;
       margin-left: 16rem;
       margin-right: 10rem;
   }
   p{
     font-size: 1.1rem;
     line-height: 1.7rem;
     padding: 0 0.4rem;
   }
   .profile{
     padding: 4rem 1rem 1rem;
     background-color: #efefef;
   }
   .profile .img{
     border:0.3rem solid white;
     font-size:2.6rem;
     padding-top: 2rem;
   }
  .profile h3{
    font-size: 1.2rem;
    margin-top: 15px;
    color: black;
    font-weight: bold;
  }
  #services h3{
    color:#211b6b;
    padding-bottom: 22px;
    font-size: 1.6rem;
  }

  .text{
    font-size:1.6rem;
    text-align: right;
    margin-left: 24rem !important;
  }
  .text-dark{
    font-size: 17px;
      margin-left: 27rem !important;
  }

  .section-6 .heading-1{
    margin-left: 4%;
    }

  .section-6 .btn{
    margin-bottom: 15%;
    width:20%;
    margin-left: 40%;
    padding: 2% 5%;
    color: white;
    background-color: skyblue;
  }


}
/*tablets and ipads*/
@media(min-width:768px) and (max-width:1023px){

    .carousel-item{
      min-height: 100px;
      height: auto;
    }
    .carousel-item img{
      height: 30rem;
    }
    .carousel-caption {
    	bottom: 3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      letter-spacing: 0.7px;
    }

  .testimonials{
    margin: 4rem auto;
  }
  .testimonials h1{
    text-align: left;
    font-size: 1.9rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }
  .testimonials h1::after{
    display: none;
   }
   p{
     font-size: 1.1rem;
     line-height: 1.7rem;
     padding: 0 0.4rem;
   }
   .profile{
     padding: 4rem 1rem 1rem;
     background-color: #efefef;
   }
  .profile .img{
       top:-60px;
       left: 4rem;
       border:0.3rem solid white;
       font-size:2.9rem;
       padding-top: 2rem;
   }
  .profile h3{
    font-size: 1.4rem;
    margin-top: 15px;
    color: black;
    font-weight: bold;
  }



  .proud{
   height: 300px;
   }
  .text{
    color: black;
    font-size: 1.7rem;
    margin-top:1rem;
    padding-bottom:1rem;
  }
  .text-dark{
    font-size:1rem;
  }
  #section5
  {
    height:40vh;
  }
 .matter
  {
    padding: 0.1rem;
  }
  .icon
  {
    font-size:3.5rem;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
  }
  .counter
  {
    font-size: 2.2rem;
    margin: 10px 0;
  }
  h3
  {
    font-size:1.2rem;
  }
  .section-6 .heading-1{
    margin-top: 20%;
    font-size: 1.8rem;
  }
  .section-6 .para{
    font-size: 1.0rem;
  }
  .section-6 .btn{
    margin-bottom: 15%;
    width:40%;
    margin-right:50%;
    background-color: skyblue;
  }
}
/*mobile phones*/
@media(max-width:767px){
  .carousel-item{
    min-height: 100px;
    height: auto;
  }
  .carousel-item img{
    height: 20rem;
  }
  .carousel-caption {
    bottom: 1rem;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.7px;
  }
  .carousel-caption h4{
      font-size: 0.7rem;
  }

  .testimonials{
    margin: 4rem auto;
  }
  .testimonials h1{
    text-align: left;
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }
  .testimonials h1::after{
    display: none;
   }
   p{
     font-size: 1.1rem;
     line-height: 1.7rem;
     padding: 0 0.4rem;
   }
   .profile{
     padding: 4rem 1rem 1rem;
     background-color: #efefef;
   }
   .profile .img{
     border:0.3rem solid white;
     font-size:2.6rem;
     padding-top: 2rem;
   }
  .profile h3{
    font-size: 1.2rem;
    margin-top: 15px;
    color: black;
    font-weight: bold;
  }



  .proud{
   height: 300px;
   }
  .text{
    color: black;
    font-size: 1.3rem;
    margin-top:1rem;
    padding-bottom:1rem;
    text-align: right;
  }
  .text-dark{
    font-size:0.7rem;
  }
  #section5
  {
    height:50vh;
  }
 .matter
  {
    padding: 0.1rem;
  }
  .icon
  {
    font-size:2.5rem;
    line-height: 45px;
    text-align: center;
    margin: 0 auto;
  }
  .counter
  {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  h3
  {
    font-size:0.2rem;
  }
  .section-6 .heading-1{
    margin-top: 20%;
    font-size: 1.4rem;
  }
  .section-6 .para{
    font-size: 0.9rem;
  }
  .section-6 .btn{
    margin-bottom: 15%;
    width:60%;
    margin-right:50%;
    background-color: skyblue;
  }
}
